body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: #ffc107;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
   background-image:linear-gradient(to right, #e4ae0b, #0e89b9);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
 
}
.dream{
    background-image:url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}